<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Crop Detecion</title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&amp;display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" />

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/assets/css/main.css">
</head>
<body>

        
    <div class="top-header-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12">
					<div class="main-menu-wrap">
						<div class="site-logo">
							<a href="/">
								<img src="/static/assets/img/logo1.png" alt="">
							</a>
						</div>

						<nav class="main-menu">
							<ul>
								<li><a style="padding-left: 75px;" href="/">Home</a></li>
								<li><a href="/about">About</a></li>
								<li><a href="/crop">Predict Crops</a></li>
								<li class="current-list-item"><a href="/fertilizer">Predict Fertilizer</a></li>
								<li><a href="/shop">Purchase Crops</a></li>
								<li></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
    
            
    <div class="breadcrumb-section crop-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <p>Find the best fertilizer</p>
                        <h1>Enter your field details</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="full-height-section error-section">
        <div class="full-height-tablecell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="error-text">
                            <h1>Field<span class="big-text"> Conditions</span></h1>
{% if fert_val == '' %}
                            <!-- <p style="width: 60%; font-family: 'Poppins'; margin: auto;">Enter Field Details</p> -->
                            <div class="contact-form">
                                <form method="POST" action="/fertilizer">
                                    <div class="row" style="width:60%; margin:auto;">
                                        <div class="col-lg-6">
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Nitrogen" name="nitrogen" id="nitrogen">
                                                <label for="nitrogen" class="form__label">Nitrogen</label>
                                            </div>
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Potassium" name="potassium" id="potassium">
                                                <label for="potassium" class="form__label">Potassium</label>
                                            </div>
                                            
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Phosphorous" name="phosphorous" id="phosphorous">
                                                <label for="phosphorous" class="form__label">Phosphorous</label>
                                            </div>
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Humidity" name="humidity" id="humidity">
                                                <label for="humidity" class="form__label">Humidity</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Moisture" name="moisture" id="moisture">
                                                <label for="moisture" class="form__label">Moisture</label>
                                            </div>
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Soil Type" name="soil" id="soil">
                                                <label for="soil" class="form__label">Soil Type</label>
                                            </div>
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Crop Type" name="crop" id="crop">
                                                <label for="crop" class="form__label">Crop Type</label>
                                            </div>
                                            <div class="form__group">
                                                <input type="text" class="form__field" placeholder="Temperature" name="temp" id="temp">
                                                <label for="temp" class="form__label">Temperature</label>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <p><input type="submit" value="Submit"></p>
{% else %}
                                    <p style="font-family: 'Poppins'; width: 60%; margin: auto;">Your recommended fertilizer is</p>
                                    <div class="text-center">
                                        <div class="crop-rec">
                                            <h3> {{ fert_val }} </h3>
                                            <div class="crop-img">
                                                <a><img src="/static/assets/img/fertilizer.jpg" alt=""></a>
                                            </div>                                            
                                        </div>
                                    </div>
{% endif %}
                                    
                                    
                                </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>FarmEasy allows farmers to enter details about their field, such as humidity and temperature conditions, and utilizes machine learning algorithms to predict what crop would be most suitable for them to grow.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Contact Us</h2>
						<ul>
							<li>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</li>
							<li>snowcrash@farmeasy.org</li>
							<li>+91 9162785739</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/crop">Predict Crops</a></li>
							<li><a href="/crop">Predict Fertilizer</a></li>
							<li><a href="/shop">Shop</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>